.page {
    --page-side-padding: 10.25rem;
    --page-inside-inline-padding: 1.5rem;

    padding: 0 var(--page-side-padding);
    background-color: var(--neutral-white);
}

@media (width <=1150px) {
    .page {
        --page-side-padding: 5rem;
    }
}

@media (width <=500px) {
    .page {
        --page-side-padding: 0;
    }
}