.cart {
    --cart-bgc: var(--neutral-white);
    --cart-shadow: 0 7px 20px 2px rgba(0, 0, 0, 0.132);
    --cart-width: 360px;
    --cart-side-padding: 1.75rem;
    --cart-top-bottom-padding: 1.25rem;
    --cart-line-color: var(--navbar-border-color);
    --cart-border-radius: 10px;
    --cart-msg-color: var(--neutral-dark-gray-blue);
    --cart-color-remove-btn: var(--neutral-grayish-blue);

    text-align: initial;
    position: absolute;
    background-color: var(--cart-bgc);
    box-shadow: var(--cart-shadow);
    width: var(--cart-width);
    left: 50%;
    top: 215%;
    transform: translateX(-50%);
    padding: var(--cart-top-bottom-padding) 0;
    border-radius: var(--cart-border-radius);
}

.cart>* {
    padding: 0 var(--cart-side-padding);
}

.cart__heading {
    font-weight: 600;
    padding-bottom: 1.75rem;
    border-bottom: 1px solid var(--cart-line-color);
}

.cart__msg {
    text-align: center;
    padding-top: 4.75rem;
    padding-bottom: 4.75rem;
    color: var(--cart-msg-color);
    font-weight: 600;
}

.cart__body {
    display: flex;
    flex-direction: column;
    padding: 1.5rem var(--cart-side-padding) 0.75rem;
    color: var(--cart-msg-color)
}


.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.product-prices {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.35rem;
}

.product-total {
    color: var(--neutral-black);
    font-weight: bold;
}

.cart-item__img img {
    max-width: 100%;
    display: block;
    width: 50px;
    aspect-ratio: 1;
}

.cart-item .btn--cart-remove svg {
    fill: var(--cart-color-remove-btn);
}