.overlay {
    --width: 0.32fr;
    --min-width: 400px;
    --color-remove-btn: var(--neutral-light-grayish-blue);
    --color-remove-btn-hover: var(--primary-orange);

    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: minmax(var(--min-width), var(--width));
    place-content: center;
    cursor: pointer;
}

.overlay :is(.gallery-container__sec-imgs, .btn--gallery-main) {
    cursor: initial;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    cursor: initial;
}

.overlay .btn--gallery-main {
    cursor: initial;
}

.btn--close {
    align-self: end;
}

.btn--close svg {
    fill: var(--color-remove-btn);
    transition: all 0.35s;
}

.btn--close:hover svg {
    fill: var(--color-remove-btn-hover);

}