.product-section {
    --product-section-padding: 5.5rem 3rem;
    --product-section-no-columns: 2;
    --product-section-gap: 12.5%;

    padding: var(--product-section-padding);
    display: grid;
    grid-template-columns: repeat(var(--product-section-no-columns), 1fr);
    grid-gap: var(--product-section-gap);
}


@media (width <=1150px) {
    /* .page {
        --page-side-padding: 5rem;
    } */
}

@media (width <=950px) {
    .product-section {
        /* --product-section-gap: 5.5%; */
    }
}