.gallery-container {
    --figures-border-radius: 0.75rem;
    --color-outline: var(--primary-orange);
    --gap: 2.25rem;
    --gallery-list-padding: 0;
}

/* Resetting imgs */
:is(.gallery-container, .gallery-showcase) img {
    max-width: 100%;
    display: block;
}

.lazy-load-image-background {
    display: block !important;
}

.btn--gallery {
    border-radius: var(--figures-border-radius);
    overflow: hidden;
}

.btn--gallery-main {
    margin-block-end: var(--gap);
}

.btn--gallery-sec {
    --figures-border-radius: 0.5rem;
}

.gallery-container__sec-imgs {
    padding: var(--gallery-list-padding);
    display: flex;
    gap: 7.5%;
}

.btn--gallery-sec {
    transition: all 0.1s;
    background-color: var(--neutral-white);
}

.btn--gallery-sec img {
    transition: opacity 0.35s;
}

.btn--gallery-sec:hover img {
    opacity: 0.4;
}

.btn--gallery--selected {
    outline: 3px solid var(--color-outline);
}

.btn--gallery--selected img {
    opacity: 0.25;
}

.gallery-showcase {
    --bg-color-btn: var(--neutral-white);

    position: relative;
}

.btn--swiper {
    --margin-side: 1rem;
    --color-stroke: var(--neutral-very-dark-blue);
    --color-stroke-active: var(--primary-orange);

    position: absolute;
    top: 50%;
    background-color: var(--bg-color-btn);
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    stroke: var(--color-stroke);
}

.btn--swiper:active {
    stroke: var(--color-stroke-active);
}

.btn--next {
    right: var(--margin-side);
}

.btn--prev {
    left: var(--margin-side);
}