.product-section__details {
    --product-section-color-main: var(--neutral-dark-gray-blue);
    --product-section-color-dark: var(--primary-pale-orange);
    --product-section-color-button-main: var(--primary-orange);
    --product-section-color-button-sec: var(--neutral-light-grayish-blue);
    --product-section-color-white: var(--neutral-white);
    --product-section-padding-block-start: 4rem;

    color: var(--product-section-color-main);
    padding-block-start: var(--product-section-padding-block-start);
}


.product-section__details .company {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}

:is(.product-section__details .heading, .prices-container__final, .actions-container .btns-container .product-quantity) {
    font-weight: bold;
    color: var(--product-section-color-dark);
}

.product-section__details .heading {
    font-size: 2.75rem;
    margin-block: 1rem 2.25rem;
    line-height: 1.15;
}

.product-section__details .desc {
    line-height: 1.65;
}

.prices-container {
    --prices-container-columns: repeat(2, max-content);
    --price-container-gap: 0.75rem 1rem;

    margin-block-start: 1.25rem;
    display: grid;
    grid-template-columns: var(--prices-container-columns);
    gap: var(--price-container-gap);
    align-items: center;
}

.prices-container__final {
    font-size: 1.75rem;
    letter-spacing: 1px;
}

.prices-container__discount {
    color: var(--product-section-color-white);
    background-color: var(--product-section-color-dark);
    padding: 0.2rem 0.6rem;
    border-radius: 5px;
}

.prices-container__original {
    text-decoration: line-through;
    font-weight: bold;
}

.actions-container {
    --actions-grid-columns: 4fr 7fr;
    --actions-gap: 3.5%;
    --actions-margin-block-start: 2.1rem;
    --actions-margin-block-end: 0;


    margin-block: var(--actions-margin-block-start) var(--actions-margin-block-end);
    display: grid;
    grid-template-columns: var(--actions-grid-columns);
    gap: var(--actions-gap);
}

.actions-container .btns-container {
    --padding-inline: 1rem;
    --padding-block: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--product-section-color-button-sec);
    padding: var(--padding-block) var(--padding-inline);
    border-radius: 0.85rem;

    & .btn--icon svg {
        fill: var(--product-section-color-button-main);
    }
}

@media (width <=500px) {
    .product-section__details {
        padding-inline: var(--page-inside-inline-padding);
        --product-section-padding-block-start: 2rem;
    }

    .actions-container {
        --actions-grid-columns: 1fr;
        --actions-gap: 1rem;
        --actions-margin-block-end: 3rem;
    }

    .actions-container .btns-container {
        padding-block: 1.2rem;
    }
}