#root {
  --primary-orange: hsl(26, 100%, 55%);
  --primary-pale-orange: hsl(0, 33.30%, 0.60%);

  --neutral-very-dark-blue: hsl(220, 13%, 13%);
  --neutral-dark-gray-blue: hsl(219, 9%, 45%);
  --neutral-grayish-blue: hsl(220, 14%, 75%);
  --neutral-light-grayish-blue: hsl(223, 64%, 98%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-black: hsl(0, 0%, 0%);
}

.btn {
  --btn-color-primary: var(--primary-orange);
  --btn-color-secondary: var(--neutral-light-grayish-blue);

  --btn-color-text: var(--primary-pale-orange);

  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--btn-color-text);
}

/* centers icon */
.btn--icon {
  display: grid;
  place-content: center;
}